listen: 0.0.0.0:8080
listen_pprof: 0.0.0.0:7008
listen_metrics_address: 0.0.0.0:9090
listen_metrics_include_tenant: true

target: http://127.0.0.1:9091/receive
enable_ipv6: false

auth:
  egress:
    username: foo
    password: bar

log_level: debug
timeout: 10s
timeout_shutdown: 0s
concurrency: 10
metadata: false
log_response_errors: true

tenant:
  label: tenant
  prefix: ""
  label_remove: true
  header: X-Scope-OrgID
  default: ""
  accept_all: false
