listen: 0.0.0.0:8080
listen_pprof: 0.0.0.0:7008

target: http://127.0.0.1:9091/receive

auth:
  egress:
    username: foo
    password: bar

log_level: debug
timeout: 10s
timeout_shutdown: 0s
concurrency: 10
metadata: false
log_response_errors: true

tenant:
  label: tenant
  label_remove: true
  header: X-Scope-OrgID
  default: ""
  accept_all: false
