[Unit]
Description=Cortex-Tenant
Documentation=https://github.com/blind-oracle/cortex-tenant
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
User=cortex-tenant
EnvironmentFile=/etc/default/cortex-tenant
ExecStart=/usr/sbin/cortex-tenant -config $CONFIG_FILE
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=30
SendSIGKILL=no
WorkingDirectory=/var/lib/cortex-tenant

[Install]
WantedBy=multi-user.target
