apiVersion: v1
kind: Service
metadata:
  labels:
    {{- include "cortex-tenant.labels" . | nindent 4 }}
  name: {{ include "cortex-tenant.fullname" . }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP
    {{- if .Values.serviceMonitor.enabled }}
    - name: http-metrics
      port: {{ .Values.serviceMonitor.targetPort }}
      targetPort: http-metrics
      protocol: TCP
    {{- end }}
  selector:
    {{- include "cortex-tenant.selectorLabels" . | nindent 4 }}
